#customers {
	padding: 5rem 0;
}
#customers .carousel-indicators li {
    background-color: grey;
}
#customers .carousel-indicators.active li {
    background-color: #0a2b7c;
}
#customers .carousel-inner {

}
