#header {
	color: fff;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#header .container {
	position: relative;
	top: 75px;
}

#header::after {
	background: url('../img/doing-business-large.jpg') center bottom no-repeat;
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#header img {
	margin: 0 auto;
	display: block;
}

#header .header-right {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 30px;
	color: white;
}

#header .fa {
	margin: 5% 0;
}

#header a .fa {
	color: #0a2b7c;
}

#header a .fa:hover {
	font-weight: bold;
}

.header-wrapper {
	margin-bottom: 25px;
}

.btn {
	transition: all 0.3s ease-in-out;
}

@media (max-width:768px) {
	#header p {
		margin:0 0 80px 0;
		text-align: center;
	}

}

.btn-outline-info {
	background-color: white;
	border-color: #fff;
	color: #0a2b7c;
	font-weight: bold;
	cursor: pointer;
}
.btn-outline-info:hover {
	background-color: #0a2b7c;
	border-color: #0a2b7c;
}

.tag-line {
	margin: 100px 0;
}
