#social {
	padding: 4.25rem 0;
}

#social .container {

}

#social .fa {
	font-size: 1.5em;
	color:#0a2b7c;
	border: 2px solid #0a2b7c;
	border-radius: 30%;
	width: 60px;
	height: 60px;
	padding-top: 30%;
	text-align: center;
	margin-top: 10px;
	transition: all 0.4s ease-in-out;
}

#social .fa:hover {
	color: white;
	background-color: #0a2b7c;
}

@media (max-width:768px) {
	#social {
		text-align: center;
	}

}
