@import url("nav.css");
@import url("header.css");
@import url("social.css");
@import url("who.css");

body, html {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}

p {
	font-weight: 500;
	font-size: 18px;
}

@media (max-width:768px) {
	hr {
		margin: 8% auto;
	}
}
