#what {
	padding: 5rem 0;
	position: relative;
}

#what .btn {
	background-color: #0a2b7c;
}

#what .card-block {
	background-color: #f6f6f6;
}

#what .img-container {
	position: relative;
}

#what .card-img-top {
	width: 100%;
	display: block;
	position: relative;
	cursor: pointer;
}

#what .img-overlay {
	background: rgba(0, 0, 0, 0.5);
	background-image: url(/img/eye.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	cursor: pointer;
}

#what .img-overlay:hover {
	z-index: 1;
	opacity: 1;
}

#what .video {
	background-image: none;
}

/*IMAGE MODAL*/
.img-modal-wrapper {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	z-index:5;
	max-width: 80%;
}

#img-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black; 
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal-open {
	overflow: hidden;
}


/*IMAGE MODAL END*/
@media (max-width:768px) {
	#what {
		text-align: center;
	}
}

@media (max-width:576px) {
	#what .card, #what .card {
		width: 20rem;
		margin: 5% auto;
	}
